<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos de internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Permiso de cámara para QR -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="WishPort"
        android:supportsRtl="true"
        android:theme="@style/Theme.WishPort">
        
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.RegistroActivity" />
        <activity android:name=".ui.PistasActivity" />
        <activity android:name=".ui.ReservasActivity" />
        <activity android:name=".ui.PerfilActivity" />
        <activity android:name=".ui.DetallePistaActivity" />
        <activity android:name=".ui.CheckoutActivity" />
        <activity android:name=".ui.DetalleReservaActivity" />
        <activity android:name=".ui.AdminActivity" />
        
    </application>

</manifest>
